body {
  background: #eef5f9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerBar {
  background-color:#1e88e5;
  min-height:70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  box-shadow: 1px 0 20px rgba(0,0,0,.08)
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 2rem;
  }
  
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebarNavLinkActive {
  color: #007bff !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  margin-right: 0rem  !important;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


@media (min-width: 768px) {
.px-md-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
}
@media (min-width: 576px){
.ms-sm-auto {
    margin-left: auto!important;
}
}
@media (min-width: 992px) {
.col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}
}
@media (min-width: 768px) {
.col-md-9 {
    flex: 0 0 auto;
    width: 75%;
}
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
    box-sizing: border-box;
}

.headlinePanel {
  height:10rem;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 4px;
  padding:1rem;
}

.headlinePanelOuter {
  background-color: #ffffff;
  border: 0px !important;
  box-shadow: 1px 0 20px rgba(0,0,0,.08) !important;
  -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08) !important;
}

.headlinePanelText {
  color: white;
  font-family: "Poppins",sans-serif;
}

.currentTemperatureInfo {
  background-color: #7460ee;
}

.currentHumidityInfo {
  background-color:#21c1d6;
}

.hignLowTemperatureInfo {
  background-color: #ffb22b;
}

.highLowHumidityInfo {
  background-color: #fc4b6c;
}

.card .card-title {
  position: relative !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  margin-bottom: 7px !important;
}

.card .card-subtitle {
  font-weight: 300 !important;
  margin-bottom: 10px !important;
}

.headlinePanelValue {
  font-weight: 300;
  font-size: 1.5rem;
  color:  #8898aa !important;;
}

.headlinePanelValueWrapper {
  position: relative !important;
  padding-left: 15px !important;
  padding-right: 15px !important;  
}

.op-5 {
  opacity: .5;
}


.navMenuButton {
  border: 0px !important;
  background-color: transparent !important;
  display: none;
}

@media (max-width: 767.98px) {
  .navMenuButton {
    border: 0px !important;
    background-color: transparent !important;
    display: block;
  }
}


.navMenuButtonIcon {
  color: hsla(0,0%,100%,.8);
}

.logoFirst {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.logoSecond {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.headerNavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.headerNavBar li {
  float: left;
}

.round {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.round, .round img {
  border-radius: 100%;
}

.round.round-info {
  background: #7460ee;
}
.round-lg {
  line-height: 65px;
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.circleIcon {
  vertical-align: -0.13em !important;
}

.headlinePanelTitle {
  color: #455a64  !important;
  font-weight: 300;
}

.headlinePanelSubTitle {
  color: #8898aa !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.sidebar-item {

}

.MuiTreeView-root {
  margin: 10px !important;
}
.MuiTreeItem-root.Mui-expanded > div {
    background: #21c1d6;
    color: #fff;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    font-weight: 400;
    padding: 8px 35px 8px 8px;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    cursor: pointer;
}

.MuiTreeItem-root.Mui-expanded .MuiTreeItem-content {
  margin-bottom: 20px;
}
.MuiCollapse-wrapperInner .MuiTreeItem-root .MuiTreeItem-content .MuiTypography-root {
  font-family: "Poppins",sans-serif !important;
    font-size: .875rem;
    font-weight: 300;
    color: #607d8b;
}